<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.site_name }}</title>
    <link rel="stylesheet" href="{{ root_path }}/style.css">
</head>

<body>
    <header>
        <a href="{{ root_path }}/index.html" class="site-title">
            <span>{{ config.site_icon }}</span>
            <span>{{ config.site_name }}</span>
        </a>

        <nav>
            {% for item in config.nav %}
                {% if item.path == "index.md" %}
                    <a href="{{ root_path }}/index.html">{{ item.name }}</a>
                {% elif item.type == "link" %}
                    <a href="{{ item.path }}" target="_blank">{{ item.name }}</a>
                {% elif item.type == "file" %}
                    <a href="{{ root_path }}/{{ item.path }}" target="_blank">{{ item.name }}</a>
                {% else %}
                    <a href="{{ root_path }}/{{ item.path | replace(from=".md", to=".html") }}">{{ item.name }}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>May <a href="https://github.com/stuPETER12138/mdBear">mdBear</a>  be with you 😘</p>
    </footer>
</body>

</html>
